@page "/day"
@attribute [Authorize]

<!-- DayPage.razor -->

<h1>@CurrentDay</h1>
<p class="total-calories">Total Calories: @TotalCalories</p>

@foreach (var meal in Meals)
{
    <div class="meal-box">
        <h2>@meal.Name</h2>
		<h5 class="calories-heading">Calories: @meal.Calories kcal</h5>
        <div class="ingredient-box-container mt-3">
            @foreach (var ingredient in meal.Ingredients)
            {
                <div class="ingredient-box d-flex justify-content-between align-items-center mb-2 rounded">
                    <div>
                        <span class="ingredient-name">@ingredient</span>
                        <span class="calorie-amount">1000 kcal</span>
                    </div>
                    <button class="btn btn-danger btn-sm"><i>X</i></button>
                </div>
            }
        </div>

		     <button class="btn btn-success mt-2">
    <i class="fas fa-plus"></i> Add Food
</button>
    </div>
}

@code {
    // Properties
    private string CurrentDay = "Monday 21/11 2022";
    private int TotalCalories = 300;

    private List<Meal> Meals = new List<Meal>()
    {
        new Meal() { Name = "Breakfast", Ingredients = new List<string>{"Oatmeal", "Beef"}, Calories = 150 },
        new Meal() { Name = "Lunch", Ingredients = new List<string>{"Oatmeal", "Beef"}, Calories = 200 },
        new Meal() { Name = "Dinner", Ingredients = new List<string>{"Oatmeal", "Beef"} , Calories = 350 },
        new Meal() { Name = "Snack", Ingredients = new List<string>{"Oatmeal", "Beef"}, Calories = 100 },
    };

    // Methods
    private void AddFood(Meal meal)
    {
        TotalCalories += meal.Calories;
    }

    private void RemoveIngredient(Meal meal)
    {
        TotalCalories -= meal.Calories;
    }

    // Model
    private class Meal
    {
        public string Name { get; set; }
        public List<string> Ingredients { get; set; }
        public int Calories { get; set; }
    }
}